<footer class="footer" id="footer">
    <div class="container">
        <a class="footer-logo" href="./index.html">
            <img data-src="./images/logo.png" alt="Logo" class=" d-n-m lazy">
            <img data-src="./images/logo-m.png" alt="Logo" class=" lazy d-n-d d-b-m">
        </a>

        <div class="footer-address">

            <h6>
                Адрес
            </h6>

            <p>
                Санкт-Петербург, Театральная пл. Д.6
                
            </p>

        </div>

        <div class="footer-links">
            <h6>
                Социальные сети
            </h6>

            <ul>
                <li>
                    <a href="https://vk.com/designby.tashdesign">
                        <i class="icon-vkontakte"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/lazurnaya_design/">
                        <i class="icon-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/tashdesign.ru/">
                        <i class="icon-facebook-rect"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer-phone">
            <h6>
                Телефон
            </h6>

            <a href="tel:+7 (812) 642-18-33">
                +7 (812) 642-18-33
            </a>
        </div>

    </div>
</footer>