<!--    Jquery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<!--    Jquery Lazy-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js" type="text/javascript"></script>
<!--    Slick JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" type="text/javascript"></script>
<!--    Fancybox JS-->
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js" type="text/javascript"></script>
<!--    Plyr Player-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.5.4/plyr.min.js" type="text/javascript"></script>
<!--    Jquery Mask-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js" type="text/javascript"></script>
<!--    Main CSS-->
<link rel="stylesheet" href="{{var_path_env}}css/site.css" type="text/css">
<!--    Main JS-->
<script src="{{var_path_env}}js/custom.js" type="text/javascript"></script>
</body>
</html>
