<section class='aboutUs container' id="aboutUs">

    <div class="aboutUs-media ">

        <div class="aboutUs-media-video">
            <video poster="./images/aboutUs/poster.jpg" playsinline controls class="js-player" preload="none">
                <source src="./images/aboutUs/video.mp4" type="video/mp4"/>
            </video>
        </div>

        <div class="aboutUs-media-content">
            <h3>
                О нас
            </h3>

            <h1>
                Студия дизайна элитных &nbsp;
                <br/> интерьеров в Москве &nbsp;
                <br/> и Санкт-Петербурге
            </h1>

            <p>
                Студия основана в 2012 году. За это время &nbsp;
                <br/> разработано более 50 проектов квартир, &nbsp;
                <br/> загородных домов, общественных &nbsp;
                <br/> и коммерческих интерьеров.
            </p>

            <p class="inActive">
                Мы создаём глубоко индивидуальные интерьеры &nbsp;<br/>
                 от традиционной классики &nbsp;
                 <br/> до современного минимализма. При &nbsp;
                 <br/> проектировании используем последние тенденции &nbsp;
                 <br/> мира дизайна и строительных технологий. &nbsp;
                 <br/> Основная категория наших клиентов приходит по &nbsp;
                 <br/> рекомендации друзей &nbsp;
                 <br/> и знакомых.
            </p>
        </div>

    </div>

</section>