<section class="container achievements">
  <h1>
    Наши награды&nbsp;<br />
    и публикации
  </h1>

  <div class="achievements-content">
    <div class="achievements-content-item">
      <picture>
        <img
          class="lazy"
          data-src="./images/achievements/img-2.jpg"
          alt="Image"
        />
      </picture>
      <picture>
        <img
          class="lazy"
          data-src="./images/achievements/img-1.png"
          alt="Image"
        />
      </picture>
    </div>
    <div class="achievements-content-item">
      <picture>
        <img
          class="lazy"
          data-src="./images/achievements/img-1.png"
          alt="Image"
        />
      </picture>
      <picture>
        <img
          class="lazy"
          data-src="./images/achievements/img-2.jpg"
          alt="Image"
        />
      </picture>
    </div>
  </div>
</section>
