<section class='benefits'>
    <div class="container">

        <h3>
            Почему выбирают нас?
        </h3>

        <h1>
            Наши преимущества
        </h1>

        <div class="benefits-blocks">

            <div class="benefits-block">
                <h2>
                    ✔
                </h2>
                <p>
                    Сочетание благородной &nbsp;
                    <br/> роскоши и &nbsp;
                    <br/> Функциональности
                </p>
                <span class="js-short-words">
                    Мы создаем уникальные по уровню &nbsp;
                    <br> комфорта...
                </span>
                
                <span>
                    Мы создаем уникальные по уровню комфорта интерьеры с использованием новейших технологий и всемирно известных брендов. Применение натуральных материалов и предметов, допустимых к переработке, позволяет нам распространять идею "экологичной роскоши".
                </span>
            </div>

            <div class="benefits-block">
                <h2>
                    ✔
                </h2>
                <p>
                    Все «под ключ» &nbsp;
                    <br/> От проектирования до &nbsp;
                    <br/> реализации
                </p>
                <span class="js-short-words">
                    Мы экономим Ваше &nbsp;
                    <br> время для более...
                </span>
                
                <span>
                    Мы экономим Ваше время для более важных дел.
                    Доверяя нам работу над домом Вашей мечты,вы снимаете с себя огромное количество вопросов, связанных с выбором материалов, заказами, отгрузками, взаимодействию со строителями, финансовой отчетностью и сроками ремонта. Работаем только с проверенными строителями и надежными поставщиками.
                </span>
            </div>
            <div class="benefits-block">
                <h2>
                    ✔
                </h2>
                <p>
                    Лучшие условия для &nbsp;
                    <br/> заключения договора
                </p>
                <span class="js-short-words">
                    Полная прозрачность. &nbsp;
                    <br> Поэтапная...
                </span>

                <span>
                    Полная прозрачность. Поэтапная оплата проекта позволит оптимально планировать финансовые потоки. Договор четко регулирует сроки выполнения, ответственность и объем работы дизайнеров и проектировщиков. Наличие прямых контрактов с европейскими производителями обеспечивает наших Клиентов гарантированным качеством изделий и сроками поставки товара.
                </span>
            </div>
            <div class="benefits-block">
                <h2>
                    ✔
                </h2>

                <p>
                    Профессиональный &nbsp;
                    <br/> Опыт &nbsp;
                    <br/> Признание
                </p>
                <span class="js-short-words">
                    Осуществляем Ваши &nbsp;
                    <br/> мечты с...
                </span>

                <span>
                    Осуществляем Ваши мечты с 2013 года. За это время собрали уникальную команду специалистов, способных создать эксклюзивный интерьер в любой стилистике, начиная от классических барокко, роккоко, прованс, и заканчивая современным минимализмом, хай тек, эклектикой. Наш профессионализм высоко оценило жюри международного конкурса дизайнеров и архитекторов ADD Awards. Мы стали победителями 2019 года.
                </span>
            </div>

        </div>

    </div>
</section>