<section class='gallery' id="gallery">


    <div class="container">

        <h3>
            Галерея
        </h3>

        <h1>
            Наших работ
        </h1>

        <ul class="gallery-nav">
            <li class="active" data-gallery-nav="residential">
                <p>
                    Жилые помещения
                </p>
            </li>
            <li data-gallery-nav="commercial">
                <p>
                    Коммерческие помещения
                </p>
            </li>
            <li data-gallery-nav="all">
                <p>
                    Все работы
                </p>
            </li>
        </ul>
    </div>


    <ul class="gallery-slider">

        <li class="" data-gallery-name="residential">

            <div class="gallery-slider-item">
                <a target='_blank' href="http://tashdesign.ru/passaj/">
                    <img class='lazy' data-src="./images/gallery/residential/img-1.jpg" alt="gallery">
                    <p>
                    <span>
                        Николаевский пассаж
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
            </div>

            <div class="gallery-slider-item">
                <a target='_blank' href="http://tashdesign.ru/dizajn-kvartiry-v-svetlyx-tonax/">
                    <img class='lazy' data-src="./images/gallery/residential/img-2.jpg" alt="gallery">
                    <p>
                    <span>
                        Дизайн квартиры в светлых тонах
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
                <a target='_blank' href="http://tashdesign.ru/svobodnoe-prostranstvo-dlya-zhizni/">
                    <img class='lazy' data-src="./images/gallery/residential/img-3.jpg" alt="gallery">
                    <p>
                    <span>
                        Свободное пространство для жизни
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
            </div>

            <div class="gallery-slider-item">
                <a target='_blank' href="http://tashdesign.ru/kvartira-s-zhenskim-xarakterom/">
                    <img class='lazy' data-src="./images/gallery/residential/img-4.jpg" alt="gallery">
                    <p>
                    <span>
                        Квартира с женским характером
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
                <a target='_blank' href="http://tashdesign.ru/sekret-uyuta-v-kvartire-stilya-loft/">
                    <img class='lazy' data-src="./images/gallery/residential/img-5.jpg" alt="gallery">
                    <p>
                    <span>
                        Секрет уюта квартиры в стиле ЛОФТ
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
            </div>

            <div class="gallery-slider-item">
                <a target='_blank' href="http://tashdesign.ru/kvartira-dlya-bolshoj-semi/">
                    <img class='lazy' data-src="./images/gallery/residential/img-6.jpg" alt="gallery">
                    <p>
                    <span>
                        Квартира для большой семьи
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
            </div>

        </li>
        <li class="" data-gallery-name="residential">

            <div class="gallery-slider-item">
                <a target='_blank' href="http://tashdesign.ru/loft-dlya-intellektuala-2/">
                    <img class='lazy' data-src="./images/gallery/residential/img-12.jpg" alt="gallery">
                    <p>
                    <span>
                        ЛОФТ для интеллектуала
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
            </div>

            <div class="gallery-slider-item">
                <a target='_blank' href="http://tashdesign.ru/kudrovo-2/">
                    <img class='lazy' data-src="./images/gallery/residential/img-11.jpg" alt="gallery">
                    <p>
                    <span>
                        Кудрово
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
                <a target='_blank' href="http://tashdesign.ru/peterburg-klassicheskij-2/">
                    <img class='lazy' data-src="./images/gallery/residential/img-10.jpg" alt="gallery">
                    <p>
                    <span>
                        Петербург классический
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
            </div>

            <div class="gallery-slider-item">
                <a target='_blank' href="http://tashdesign.ru/provans-v-serdce-megapolisa-2/">
                    <img class='lazy' data-src="./images/gallery/residential/img-9.jpg" alt="gallery">
                    <p>
                    <span>
                        Прованс в сердце мегаполиса
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
                <a target='_blank' href="http://tashdesign.ru/proekt-pod-klyuch-na-vasilevskom-ostrove/">
                    <img class='lazy' data-src="./images/gallery/residential/img-8.jpg" alt="gallery">
                    <p>
                    <span>
                        Проект «под ключ» на Васильевском острове
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
            </div>

            <div class="gallery-slider-item">
                <a target='_blank' href="http://tashdesign.ru/dizajn-interera-gostevogo-doma-2/">
                    <img class='lazy' data-src="./images/gallery/residential/img-7.jpg" alt="gallery">
                    <p>
                    <span>
                        Дизайн интерьера гостевого дома
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
            </div>

        </li>
        <li class="" data-gallery-name="residential">

            <div class="gallery-slider-item">
                <a target='_blank' href="http://tashdesign.ru/sovremennaya-klassika-zagorodnogo-doma-2/">
                    <img class='lazy' data-src="./images/gallery/residential/img-13.jpg" alt="gallery">
                    <p>
                    <span>
                        Современная классика загородного дома
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
            </div>

            <div class="gallery-slider-item">
                <a target='_blank' href="http://tashdesign.ru/s-mechtami-o-more-2/">
                    <img class='lazy' data-src="./images/gallery/residential/img-14.jpg" alt="gallery">
                    <p>
                    <span>
                        С мечтами о море
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
                <a target='_blank' href="http://tashdesign.ru/ogni-nochnogo-goroda-2/">
                    <img class='lazy' data-src="./images/gallery/residential/img-15.jpg" alt="gallery">
                    <p>
                    <span>
                        Огни ночного города
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
            </div>

            <div class="gallery-slider-item">
                <a target='_blank' href="http://tashdesign.ru/art-deko-severnoj-venecii/">
                    <img class='lazy' data-src="./images/gallery/residential/img-16.jpg" alt="gallery">
                    <p>
                    <span>
                        АРТ-ДЕКО Северной Венеции
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
                <a target='_blank' href="http://tashdesign.ru/dizajn-proekt-dux-vremeni/">
                    <img class='lazy' data-src="./images/gallery/residential/img-17.jpg" alt="gallery">
                    <p>
                    <span>
                        Дух неоклассицизма (квартира площадью 146 м²)
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
            </div>

            <div class="gallery-slider-item">
                <a target='_blank' href="http://tashdesign.ru/kvartira-s-britanskim-akcentom/">
                    <img class='lazy' data-src="./images/gallery/residential/img-18.jpg" alt="gallery">
                    <p>
                    <span>
                        Квартира с британским акцентом
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
            </div>

        </li>

        <li class="js_hide" data-gallery-name="commercial">

            <div class="gallery-slider-item">
                <a target='_blank' href="http://tashdesign.ru/irlandskij-pab/">
                    <img class='lazy' data-src="./images/gallery/commerical/img-1.jpg" alt="gallery">
                    <p>
                    <span>
                        Ирландский паб
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
            </div>

            <div class="gallery-slider-item">
                <a target='_blank' href="http://tashdesign.ru/ofis-dlya-proektnogo-byuro/">
                    <img class='lazy' data-src="./images/gallery/commerical/img-2.jpg" alt="gallery">
                    <p>
                    <span>
                        Небольшой офис для проектного бюро
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
                <a target='_blank' href="http://tashdesign.ru/ofisnyj-stil/">
                    <img class='lazy' data-src="./images/gallery/commerical/img-3.jpg" alt="gallery">
                    <p>
                    <span>
                        Офисный стиль
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
            </div>

            <div class="gallery-slider-item">
                <a target='_blank' href="http://tashdesign.ru/sovremennoe-rabochee-prostranstvo/">
                    <img class='lazy' data-src="./images/gallery/commerical/img-4.jpg" alt="gallery">
                    <p>
                    <span>
                        Современное рабочее пространство
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
                <a target='_blank' href="http://tashdesign.ru/moskovskij-ofisnyj-stil/">
                    <img class='lazy' data-src="./images/gallery/commerical/img-5.jpg" alt="gallery">
                    <p>
                    <span>
                        Московский офисный стиль
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
            </div>

            <div class="gallery-slider-item">
                <a target='_blank' href="http://tashdesign.ru/kalyannaya-v-stile-loft/">
                    <img class='lazy' data-src="./images/gallery/commerical/img-6.jpg" alt="gallery">
                    <p>
                    <span>
                        Кальянная в стиле LOFT
                    </span>

                        <!--<small>
                           Центральный район, 70 м2
                        </small> -->
                    </p>
                </a>
            </div>

        </li>

    </ul>


</section>