<section class="container our-team" id="team">

    <h1>
        Наша команда
    </h1>

    <div class="team-block">
        <div class="team-block--content">
            <h6>
                Руководитель студии
            </h6>
            <h4>
                Денис Фёдоров
            </h4>
            <p>
                Путь в дизайн был крайне тернист. После окончания института пробовал себя в разных сферах, начиная от телохранителя, менеджера по продажам и заканчивая преподавателем психологии в университете. Но когда предложили возглавить новое направление в компании, где необходимо было придумать несколько коллекций, а затем организовать процесс производства и реализации мебели для ванной комнаты, появилось понимание своего собственного пути. На себе испытав все строительные профессии, начиная от укладки плитки, малярных работ, электрики, сантехники и заканчивая руководством процесса, Денис вышел специалистом, который может не только объяснить, как задумал дизайнер, но и показать, как это сделать.
            </p>
        </div>

        <picture class="team-block--media">
            <img class='lazy' data-src="./images/services/team-1.png" alt="Image">
        </picture>
    </div>
    
    <div class="team-block">
        <div class="team-block--content">
            <h6>
                Арт-директор студии
            </h6>
            <h4>
                Татьяна Лазурная
            </h4>
            <p>
                Татьяна с самого детства знала, чем она хочет заниматься в жизни. Окончив художественную школу, колледж дизайна, а затем институт по кафедре дизайна среды, она 15 лет готовилась реализовать свою мечту – стать дизайнером интерьера. С 2004 года профессионально занимается дизайном интерьера, реализовав несколько десятков проектов жилой и коммерческой недвижимости. Широкие познания в истории искусств, художественное образование, талант и тонкое понимание потребностей клиентов делает ее успешным и востребованным профессионалом.
            </p>
        </div>

        <picture class="team-block--media">
            <img class='lazy' data-src="./images/services/team-2.png" alt="Image">
        </picture>
    </div>

</section>