<section class="our-cost" id="cost">

    <div class="container">

        <h1>
            Стоимость услуг
        </h1>
    
        <h2>
            В Санкт-Петербурге
        </h2>
    
        <ul>
            <li>
                <h4>
                    Дизайн-проект
                </h4>
    
                <p>
                    3 000 руб / м²
                </p>
            </li>
            <li>
                <h4>
                    Авторское сопровождение
                </h4>
    
                <p>
                    20 000 руб / мес
                </p>
            </li>
            <li>
                <h4>
                    Комплектация проекта
                </h4>
    
                <p>
                    500 руб / м²
                </p>
            </li>
            <li>
                <h4>
                    ПОД КЛЮЧ
    
                    <span>
                        (Дизайн-проект, авторское сопровождение, комплектация)
                    </span>
                </h4>
    
                <p>
                    4 500 руб / м²
                </p>
            </li>
        </ul>

    </div>

</section>
