<section class='reviews' id="reviews">

    <div class="container">
        <h3>
            Отзывы
        </h3>

        <h1>
            Наших благодарных <span><br/></span>
            клиентов
        </h1>

        <div class="slick-slider">
            <div>
                <fieldset>
                    <legend>
                        Ирина Ч. <br/>

                        <img data-lazy="./images/reviews/reviews-1.jpg" alt="Avatar">

                        <span>
                        Частное лицо
                      </span>
                    </legend>


                    <p>
                        Дизайн студия элитных интерьеров Лазурной Татьяны - это настоящие профессионалы своего дела! Больше всего понравилось и запомнилось душевное отношение сотрудников - очень внимательные и позитивные люди, с которыми приятно работать. Работа была сложной, а проект большим - квартира 160 метров с нестандартной планировкой, но ребята из бюро справились с задачей на "пять"!
                    </p>
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>
                        Арсений А. <br/>

                        <img data-lazy="./images/reviews/reviews-5.jpg" alt="Avatar">

                        <span>
                        Частное лицо
                      </span>
                    </legend>


                    <p>
                        Эту компанию мне порекомендовали знакомые, у которых я был на новоселье и очень понравился дизайн их квартиры. Это сподвигло меня полностью поменять оформление загородного дома на более современное. Хочу выразить огромную благодарность за исполнение идеи - результат превзошел все ожидания, я бы даже близко не сделал никогда ничего подобного! Друзья уже оценили и тоже хотят обновить интерьеры!
                    </p>

                    
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>
                        Роман С. <br/>

                        <img data-lazy="./images/reviews/reviews-3.jpg" alt="Avatar">

                        <span>
                        Частное лицо
                      </span>
                    </legend>


                    <p>
                        В начале 2017 года решили полностью обновить квартиру: перепланировка, изменение стиля на более современный, замена всего, включая проводку... Одно хочу сказать - доверяйте только профессионалам! Потому что предыдущая компания, с которой мне "посчастливилось" работать, была совершенно некомпетентна в такой области как дизайнерский ремонт квартир. К счастью, мне посоветовали этих ребят, которые не только вернули мне веру в дизайн, но и показали, что можно выходить за рамки стандартных стилей и представлений... Желаю всем мыслить так же широко!
                    </p>

                    
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>
                        Наталья <br/>

                        <img data-lazy="./images/reviews/reviews-4.jpg" alt="Avatar">

                        <span>
                        Частное лицо
                      </span>
                    </legend>


                    <p>
                        Сегодня наша с вами работа закончилась, и мы хотим поблагодарить вас за то, что вы помогли нам создать наш маленький дом таким красивым и уютным. И несмотря на все нюансы, которые неизбежно возникают в любой работе, спасибо, что были неконфликтными и гибкими при реализации нашего проекта. Желаем вашей команде дальнейших успехов, а вашей фирме процветания и хороших проектов. Когда в следующий раз нам понадобится заказать дизайн интерьера, обратимся только к вам!
                    </p>

                    
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>
                        Людмила A.<br/>

                        <img data-lazy="./images/reviews/reviews-2.jpg" alt="Avatar">

                        <span>
                        Частное лицо
                      </span>
                    </legend>


                    <p>
                        Хотелось бы выразить благодарность замечательным ребятам из дизайн-бюро Татьяны Лазурной! Справились со своими задачами на 200% - мы с мужем даже не ожидали такого потрясающего результата, ведь, казалось, мы с ним хотим совершенно разные варианты... Но конечный дизайн интерьера, заказать который нам посчастливилось у профессионалов, был удачным компромиссом, который понравился нам обоим!.
                    </p>

                    
                </fieldset>
            </div>
        </div>

    </div>

</section>