<section class='services' id="services">

    <div class="services-bg">
        <img class='lazy' data-src="./images/services/services-bg-5.png" alt="LOGO">
    </div>

    <div class="container">

        <h3>
            Наши услуги
        </h3>

        <h1>
            Создаём дизайн интерьера &nbsp; 
            <br/> вашей мечты
        </h1>

        <div class="services-blocks">

            <div class="services-block">
                <h2>
                    Разработка дизайн-проекта
                </h2>

                <div class="services-block-content">

                    <h2>
                        Разработка дизайн-проекта
                    </h2>

                    <p>

                        Разработка проекта осуществляется в 3 этапа.
                    </p>
                    <p>
                        Первый этап: Заключение договора, обмер помещения, обсуждение технического задания на проектирование. Мы разрабатываем варианты планировок и концепцию будущего интерьера (в виде коллажей).
                    </p>
                    <p>
                        Второй этап: После согласования планировочного решения и ТЗ выполняем визуализацию интерьера (фотореалистичные картины Вашего дома после ремонта).Обсуждаем, корректируем, согласовываем.
                    </p>
                    <p>
                        Третий этап: Разрабатываем техническую документацию (чертежи) для строителей. Это пошаговая и детальная инструкция для реализации дизайн-проекта.
                    </p>
                </div>

                <div class='overflow-hidden'>
                    <picture>
                        <img class='lazy' data-src="./images/services/services-bg-1.jpg" alt="service">
                    </picture>
                </div>
            </div>

            <div class="services-block">
                <h2>
                    Ведение авторского сопровождения
                </h2>


                <div class="services-block-content">
                    <h2>
                        Ведение авторского сопровождения
                    </h2>
                    <p>
                        В процессе ремонта и строительства мы обеспечиваем контроль за правильностью выполнения проекта.Выезжаем по салонам поставщиков для согласования материалов отделки. Вносим и согласовываем корректировки в проект. Обеспечиваем информационную поддержку для строителей.
                    </p>
                </div>

                <div class='overflow-hidden'>
                    <picture>
                        <img class='lazy' data-src="./images/services/services-bg-2.jpg" alt="service">
                    </picture>
                </div>
            </div>

            <div class="services-block">
                <h2>
                    Комплектация объекта стройки
                </h2>
                <div class="services-block-content">
                    <h2>
                        Комплектация объекта стройки
                    </h2>
                    <p>
                        В рамках согласованного бюджета подбираем и утверждаем у Заказчика отделочные материалы и мебель.Контролируем оформление заказов, выставление счетов, отгрузок, финансовую документацию.
                    </p>
                </div>

                <div class='overflow-hidden'>
                    <picture>
                        <img class='lazy' data-src="./images/services/services-bg-3.jpg" alt="service">
                    </picture>
                </div>
            </div>

            <div class="services-block">
                <h2>
                    Услуга “все под ключ”
                </h2>
                <div class="services-block-content">
                    <h2>
                        Услуга “все под ключ”
                    </h2>
                    <p>
                        Включает в себя разработку дизайн-проекта, ведение авторского сопровождения и комплектацию проекта. Очень удобная услуга при высокой занятости клиента или проживании в другом городе или стране. Мы проводим удаленное согласование всех этапов дизайн-проекта, регулярно отправляем фотоотчеты с объекта стройки и процесса закупки материалов. Клиент всегда в курсе событий и может спокойно заниматься более важными делами.
                    </p>
                </div>

                <div class='overflow-hidden'>
                    <picture>
                        <img class='lazy' data-src="./images/services/services-bg-4.jpg" alt="service">
                    </picture>
                </div>
            </div>

        </div>

    </div>
</section>