.thank-you{
    header,
    main{
        height: 78vh;

        @media screen and (max-width: 960px){
            height: 65vh;
        }
    }

    .header-content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header_slides--nav{
        bottom: 60px;
        position: absolute;
        @media screen and (max-width: 640px){
            bottom: 30px;
        }
    }

    h1{
        max-width: 750px;
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 100%;
        position: relative;
        transform: translateY(-95px);

        @media screen and (max-width: 640px){
            transform: translateY(-30px);
            font-size: 32px;
        }

        @media screen and (max-width: 410px){
            font-size: 29px;
        }

        @media screen and (max-width: 640px){
            font-size: 25px;
        }
    }
}