//= ../components/_header-page.html
<title>Студия Дизайна Элитных Интерьеров В Санкт - Петербурге</title>
</head>
<body class="js-main-page">
<span class="bg_lines-first"></span>
<span class="bg_lines-second"></span>
<span class="bg_lines-third"></span>

<div class="wrapper">
    //= ../components/header/header.html

    <main>

        //= ../components/benefits.html

        //= ../components/services.html

        //= ../components/gallery.html

        //= ../components/discuss.html

        //= ../components/sequence.html

        //= ../components/our-cost.html

        //= ../components/reviews.html

        //= ../components/aboutUs.html

        //= ../components/our-team.html
        
        //= ../components/achievements.html

        //= ../components/form-call.html
        
        //= ../components/map.html
        
        //= ../components/instagram.html

    </main>

    //= ../components/footer/footer.html
    //= ../components/popup/popup.html
</div>

//= ../components/_footer-page.html