//= ../components/_header-page.html
<title>Студия Дизайна Элитныйх Интерьеров В Санкт - Петербурге</title>
</head>
<body class="project-page">
<span class="bg_lines-first"></span>
<span class="bg_lines-second"></span>
<span class="bg_lines-third"></span>

<div class="wrapper">
    //= ../components/projects/header.html

    <main class="container">


        <div class=" project-titles">
            <h3>
                Николаевский пассаж
            </h3>
    
            <h4>
                Центральный район, 70 м2
            </h4>
        </div>


        <section class="project-block">
            <picture>
                <img class="maxw-100" src="./images/project.png" alt="Image">
            </picture>
            <p>
                Хозяйка квартиры – молодая девушка из Москвы, переехавшая вместе с компанией в Санкт-Петербург.
            </p>
            <p>
                Выбор местоположения квартиры был не случаен: соседство с Московским вокзалом сокращает дорогу до столицы, что очень актуально при еженедельных поездках.
            </p>
        </section>

        <section class="project-block">
            <h4>
                Lorem ipsum dolor sit amet.
            </h4>

            <picture>
                <img src="./images/project.png" alt="Image">
                <img src="./images/project.png" alt="Image">
                <img src="./images/project.png" alt="Image">
                <img src="./images/project.png" alt="Image">
            </picture>
            <p>
                Хозяйка квартиры – молодая девушка из Москвы, переехавшая вместе с компанией в Санкт-Петербург.
            </p>
            <p>
                Выбор местоположения квартиры был не случаен: соседство с Московским вокзалом сокращает дорогу до столицы, что очень актуально при еженедельных поездках.
            </p>
        </section>

        <section class="project-block">
            <h4>
                Планировочное решение
            </h4>

            <p>
                Имеющаяся планировка хозяйку квартиры вполне устраивала, мы только предложили увеличить проемы в кухню и  гостиную.
            </p>

            <picture>
                <img class="maxw-100" src="./images/project.png" alt="Image">
            </picture>
        </section>

    </main>

    //= ../components/footer/footer.html
</div>

//= ../components/_footer-page.html