<header>
    <ul class="header_slides">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div class="header-content">

        //= ./header-top.html
     

        <div class="container">

            <div class="header-bottom">

                <h1>
                    «Ваш дом должен рассказывать о том, <br/>
                    кто вы есть, и хранить то,<br/>
                    что вы любите».<br/>
                    Nate Berkus
                </h1>

                <p>
                    Под ключ. От дизайн-концепции до реализации
                </p>

                <a href="#gallery" class="btn-empty gradient-hover js_scroll">
                    Посмотреть портфолио
                </a>

            </div>

        </div>

        <ul class="header_slides--nav">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        
        <a href="#call-popup" data-fancybox="" data-touch="false" class="header-call js_popup">
            <img src="./images/icon-call.png" alt="Call">
        </a>
    </div>

</header>
